/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-center {
    display: flex;
    flex: 1;
    justify-content: center;
    color: green
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right span {
    margin-left: 20px;
}

.logout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.container {
    padding: 20px;
}

.file-upload {
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    margin: 10px;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.card-text {
    margin: 5px 0;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.btn-download{
    background-color: green;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 70%;
    margin-top:50px;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-center {
    display: flex;
    flex: 1;
    justify-content: center;
    color: green
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right span {
    margin-left: 20px;
}

.logout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.container {
    padding: 20px;
}

.file-upload {
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%;
    margin: 10px;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.25em;
    margin-bottom: 10px;
}

.card-text {
    margin: 5px 0;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btn-danger, .btn-download {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-download {
    background-color: green;
    color: white;
    text-decoration: none;
    display: inline-block;
}
